@use 'variables' as *;

.staging-banner {
  background-color: #F6C544;
  min-height: 56px;
  color: $color-text-dark;
  gap: 0.75rem;
}

.staging-banner-icon {
  font-size: 17px;
}

.staging-banner-text {
  font-size: 0.9375rem;
}
